{% extends 'base.html' %}

{% block content %}

<form class="form" action="/wholesalers" method="post">

<div>
    <!-- <label for="name">Name:</label> -->
    <input type="text" id="name" name="name" placeholder="Wholesaler Name" required>
</div>

<div>
    <!-- <label for="contact_person">Contact Person:</label> -->
    <input type="text" id="contact_person" name="contact_person" placeholder="Contact Person" required autofocus>
</div>

<div>
    <!-- <label for="contact_phone">Contact Phone:</label> -->
    <input type="text" id="contact_phone" name="contact_phone" placeholder="Contact Phone" required autofocus>
  </div>

  <div>
    <!-- <label for="contact_email">Contact Email:</label> -->
    <input type="text" id="contact_email" name="contact_email" placeholder="Contact Email" required autofocus>
  </div>

  <p>
    <button class="button" type="submit">Add</button>
</p>

</form>
    
{% endblock %}