{% extends 'base.html' %}

{% block content %}

<form class="form" action="/books" method="post">

    <div>
        <label for="title"></label>
        <input type="text" id="title" name="title" placeholder="Name" required>
    </div>
    
    <div>
        <label for="author"></label>
        <input type="text" id="author" name="author" placeholder="Author" required autofocus>
    </div>
    
    <div>
        <label for="genre"></label>
        <input type="text" id="genre" name="genre" placeholder="Genre" required autofocus>
      </div>
    
      <div>
        <label for="publisher"></label>
        <input type="text" id="publisher" name="publisher" placeholder="Publisher" required autofocus>
      </div>
    
      <div>
        <label for="publication_year"></label>
        <input type="text" id="publication_year" name="publication_year" placeholder="Publication Year (eg: 1998)" required autofocus>
      </div>

      <div>
        <!-- <label for="copies">Copies</label> -->
        <input type="number" id="copies" name="copies" placeholder="Copies" min="1" max="20">
      </div>

      <div>
        <label for="cost_price"></label>
        <input type="text" id="cost_price" name="cost_price" placeholder="Cost Price" required autofocus>
      </div>

      <div>
        <label for="markup"></label>
        <input type="text" id="markup" name="markup" placeholder="Markup" required autofocus>
      </div>
      
      <br>

      <div>
        <!-- <label for="wholesaler">Wholesaler:</label> -->
        <select id="wholesaler" name="wholesaler_id">
          {% for wholesaler in wholesalers %}
            <option value="{{ wholesaler.id }}">{{ wholesaler.name }}</option>
          {% endfor %}
        </select>
      </div>
    <p>
        <button class="button" type="submit">Add</button>
    </p>
    
    </form>

<!-- <form action="/books" method="post">

 <div>
      <label for="title"></label>
      <input type="text" id="title" name="title" placeholder="Title" required>
</div>
  
<div>
      <label for="author"></label>
      <input type="text" id="author" name="author" placeholder="Author" required>
</div>
  
<div>
      <label for="genre"></label>
      <input type="text" id="genre" name="genre" placeholder="Genre" required>
</div>
  
<div>
        <label for="publisher"></label>
        <input type="text" id="publisher" name="publisher" placeholder='Publisher' required>
</div>

<div>
        <label for="publication_year"></label>
        <input type="text" id="publication_year" name="publication_year" placeholder="Publication Year" required>
</div>

<div>
        <label for="copies">Copies</label>
        <form>
            <input type="number" min="1" max="20">
            </form>
</div>
  
<div>
        <label for="cost_price"></label>
        <input type="text" id="cost_price" name="cost_price" placeholder="Cost Price" required>
</div>

<div>
        <label for="markup"></label>
        <input type="text" id="markup" name="markup" placeholder="Markup Percentage" required>
</div>

<div>
        <label for="wholesaler">Wholesaler:</label>
        <select id="wholesaler" name="wholesaler_id">
          {% for wholesaler in wholesalers %}
            <option value="{{ wholesaler.id }}">{{ wholesaler.name }}</option>
          {% endfor %}
        </select>
</div>

<p>
    <button type="submit">Add</button>
</p>

</form> -->
    
{% endblock %}