.nav-bar {

text-align: center;
display: flexbox;
/* justify-content: flex-end; */
padding: 30px;
margin-left: 10px;
margin-top: 5px;
/* border: 1px black solid; */
/* background-color: rgba(245, 245, 245, 0.571); */

}


span {
    color: red;
}

.warning {
    color: red;
}

@font-face {
    font-family: newfont;
    src: url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
  }

.shop-name {
    

    color: black;
    font-size: x-large;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    /* background-color: rgba(245, 245, 245, 0.571); */

}

.nav-item {

    font-size: xx-large;
    font-weight: bolder;
    text-decoration: none;
    font-family: newfont;
    margin-left: 30px;
    color:black;
    padding: 20px;
    margin-right: 20px;

}

.search {
    width: 40%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 4px;
    font-size: large;
}

body {

    margin-top: 10px;
    text-align: center;
    /* background: url('/static/image/nick-fewings-f2Bi-VBs71M-unsplash.jpg'); */
    /* background-size: cover; */
    /* background-color:rgba(245, 245, 245, 0.612); */
    color: black;
    font-family: newfont;
    font-size: large;
    background-color: whitesmoke;
    
}



select {
   
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 4px;
    font-size: large;

}

.button {

font-size: large;
font-family: newfont;
background-color:rgba(245, 245, 220, 0.708);
border: 1px solid;
border-radius: 8px;
padding: 10px 20px;
cursor: pointer;

}

.button:hover {

    transform: scale(1.2);
}

a {
    color:rgb(14, 104, 201);
    font-size:large;
}


.form {
    max-width: 500px;
    margin: 0px auto;
    padding: 20px;
    /* border: 2px solid black; */
    font-weight: bold;
    box-shadow: inset;
    
}

.form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 4px;
    font-size: large;
}


footer {
    
    margin-top: 200px;
    font-family: newfont;
    font-style: italic;
    font-weight:lighter;
    
}