<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Wilton St. Bookshop</title>
</head>
<body>
  <header>
    <br>
    <nav>
          <div class="nav-bar">
          <a href="/" class="nav-item">Home</a>
          <a href="/books" class="nav-item">Books</a>
          <a href="/wholesalers" class="nav-item">Wholesalers</a>
          <a href="/add" class="nav-item">Add</a>
      </nav>
      
    </header>
  </body>


{% block content %}
{% endblock %}


    